@font-face {
  font-family: 'Helvetica';
  src: url('../Helvetica-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 20px 20px 20px 40px;
  font-family: Helvetica;
  background: #fafafa;
  color: #444;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  text-decoration: underline;
}
#random-content {
  z-index: 1;
  position: relative;
  top: 50px;
  line-height: 240px;
  font-size: 240px;
  font-family: Helvetica;
  letter-spacing: -26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}
#controls {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #444;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8), -8px -8px 25px rgba(0, 0, 0, 0.1);
}
#vignette {
  z-index: 3;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  box-shadow: 100px 100px 200px rgba(0, 0, 0, 0.3) inset, -100px -100px 200px rgba(0, 0, 0, 0.3) inset;
}
footer {
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 10px;
}
